.full-page {
	position: absolute;
	width: 100%;
	height: 100%;
}

.background-img {
	background-image: url("/assets/stock-boy2.jpg");

	 /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
	text-align: center;
	margin-top: 2rem;
	color: #000;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

.full-width {
	width: 100%;
}