
<div *ngIf="chartCanLoad" 
		(chartLoaded)="chartReady = $event" style="margin-bottom: 20px;" 
		id="pie_chart" [chartData]="pie_ChartData" 
		[chartOptions] = "pie_ChartOptions" 
		chartType="ColumnChart" appGoogleChart></div>

<div *ngFor="let child of childrenObjs">
	<div class="row" style="padding: 0 15px;">
		<div class="col-sm-12">
			<img class="circle"
				[src]="child.userInfo.photoURL || '../../assets/avatar.png'">
			<h5>{{ child.userInfo.name }}</h5>
			<p>Numero de missões: {{ child.userInfo.userMissions?.length }}</p>
			<p>Numero de missões completadas: 
				{{ child.getMissionsByStatus(mission_status.completed)?.length }}</p>
			<p>Numero de missões sendo feitas: 
				{{ child.getMissionsByStatus(mission_status.inProgress)?.length }}</p>
			<ul style="font-weight: bold;" *ngIf="child.getMissionsByStatus(mission_status.inProgress)?.length > 0">Missões sendo feitas</ul>
			<div *ngFor="let progressMission of child.getMissionsByStatus(mission_status.inProgress); let i = index; "
			style="padding-left: 15px; padding-bottom: 15px">
				{{ i + 1 }} - {{ progressMission.title }}
				<br>
				Descrição: {{ progressMission.description }}
				<br>
				Progresso: {{ progressMission.progress }}%
			</div>
		</div>
	</div>
</div>
