<div>
	<div class="row">
	  <mat-input-container class="col s12">
	    <input matInput placeholder="Tarefa Escolhida" type="text" [(ngModel)]="mission.domesticShore">
	  </mat-input-container>
	</div>

	<div class="row">
		<div class="col s12">
			<mat-checkbox class="example-margin" [(ngModel)]="checked">
				Terminei
			</mat-checkbox>
		</div>
	</div>


	<div class="row">
		<div class="col s12">
			<button mat-raised-button color="accent" (click)="update()">
				Atualizar
			</button>
		</div>
	</div>
</div>
