<div class="row"></div>

<div class="row">
	<div class="col s12 m6 l3" *ngFor="let mission of missions">

		<mat-card class="example-card">
		  <mat-card-header>
		    <mat-card-title class="card-title">{{ mission.title }}</mat-card-title>
		  </mat-card-header>
		  <img mat-card-image 
		  	src="{{ mission.photoURL ? mission.photoURL : 'assets/tela_login.jpg'}}" 
		  	alt="Photo of the mission">
		  <mat-card-content>
		    <p>{{ mission.description }}</p>
		  </mat-card-content>
		  <mat-card-actions class="full-width">
		  	<div style="width: 100%">
			    <button mat-raised-button color="accent"
			    	*ngIf="mission.status == mission_status.toDo" 
			    	(click)="addMission(mission)">FAZER ESSA MISSÃO</button>
		  		<button mat-raised-button color="accent"
			    	*ngIf="mission.status == mission_status.toDo" 
			    	(click)="seeDetails(mission)">VER DETALHES</button>
		  	</div>
		    <button mat-button disabled
		    	*ngIf="mission.status == mission_status.inProgress"
		    	style="width: 100%"><mat-icon>check_circle</mat-icon> MISSÃO ADICIONADA</button>
		  </mat-card-actions>
		</mat-card>
		
	</div>
</div>