<div class="row"></div>

<div class="row">
	<div class="col s12 m6 l3" *ngFor="let mission of missions">

		<md-card class="example-card">
		  <md-card-header>
		    <md-card-title class="card-title">{{ mission.title }}</md-card-title>
		  </md-card-header>
		  <img md-card-image 
		  	src="{{ mission.photoURL ? mission.photoURL : 'assets/tela_login.jpg'}}" 
		  	alt="Photo of the mission">
		  <md-card-content>
		    <p>{{ mission.description }}</p>
		  </md-card-content>
		  <md-card-actions class="full-width">
		  	<div style="width: 100%">
			    <button md-raised-button color="accent"
			    	*ngIf="mission.status == mission_status.toDo" 
			    	(click)="addMission(mission)">FAZER ESSA MISSÃO</button>
		  		<button md-raised-button color="accent"
			    	*ngIf="mission.status == mission_status.toDo" 
			    	(click)="seeDetails(mission)">VER DETALHES</button>
		  	</div>
		    <button md-button disabled
		    	*ngIf="mission.status == mission_status.inProgress"
		    	style="width: 100%"><md-icon>check_circle</md-icon> MISSÃO ADICIONADA</button>
		  </md-card-actions>
		</md-card>
		
	</div>
</div>