<div class="row" *ngIf="!mission">
	<div class="col s12">
		<p>Desculpe mas não existe essa missão</p>
	</div>
</div>

<div *ngIf="mission">
	<div class="row" style="width: 100%; max-height: 200px; overflow: hidden;">
		<img src="{{ mission.photoURL ? mission.photoURL : 'assets/tela_login.jpg'}}">
	</div>

	<div class="row">
		<div class="col s12">
			<h4>{{ mission.title }}</h4>
			<p *ngIf="isUserMission">Progresso: {{ mission.progress }}%</p>
			<p>{{ mission.description }}</p>
		</div>
	</div>

	<!-- If not subscribed in this mission yet -->
	<div class="row">
		<div class="col s12">
			<button md-raised-button color="accent"
				*ngIf="!isUserMission" 
				(click)="addMission(mission)"
				style="width: 100%">FAZER ESSA MISSÃO</button>
		</div>
	</div>

	<!-- If user IS subscribed in this mission -->

</div>