input {
	border-bottom: 0px solid transparent !important;
	margin-bottom: 0px !important;
	box-shadow: none !important;
	height: 2rem !important;
}

button:focus {
	background-color: #fff !important;
}

.cdk-focused {
	background-color: #fff !important;
}
.cdk-mouse-focused {
	background-color: #fff !important;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}